* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 10vw;
    background-color: azure;
}
